 body{
           /* background-color:rgb(162, 216, 218);*/
           background-image:  url("http://i.imgur.com/GUERFzA.jpg");
           -webkit-background-size: cover;
            -moz-background-size: cover;
           -o-background-size: cover;
            background-size: cover;
            color: white;
            font-size: 1.5em
        }

        .hero {
            background-color: rgba(3, 3, 3, 0.5);
            min-height: 100vh;
            min-width: 100vw;
            top: 0;
            bottom: 0;
            position: absolute;
        }
        
        h4{
            margin-bottom: 0px;    
            margin-top: 12rem
          
        } 

        .lead{
                font-size:2rem;
        }
        ul{
            list-style: none;
            margin-top: 2rem;
            border-top: 2px solid white;
            /*display: none;*/

        }

        li{
            border-bottom: 1px solid white;
            padding-top:0.5rem;
            padding-bottom:0.5rem;
        }
        input[type=checkbox]{
                float: right;
                height:20px;
                width:20px;
                border:1px solid white;
        }